<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" />
    <meta name="theme-color" content="black">
    <title>React Chat</title>
    <!-- <link rel="manifest" href="./manifest.json"> -->
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>

</head>

<body>
    <div id="container"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script type="text/babel">
        var EnterName = React.createClass({
          getInitialState: function(){
            return {setName: false}
          },
          handleClick: function(){
            this.setState({setName: true})
          },
          render: function(){
            var msg
            if(this.state.setName){
              msg = "Welcome to the chat"
            } else {
              msg = "Enter your name to join the chat"
            }
            return(
              <div>
                <input type="text"/>
                <button onClick={this.handleClick}>Enter</button>
                <p>{msg}</p>
              </div>
            );
          }
        });

        ReactDOM.render(
          <div>
            <EnterName/>
          </div>, document.getElementById('container'));
    </script>
</body>

</html>
